.bodyContainer{
    display: grid;
    place-items: center;
    height: 100vh; /* Make the container fill the entire viewport height */
    margin-top: 50px;
}

.typewriter{
    text-align: center;
}
