.headingContainer{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers content vertically */
    padding: 0 8px; /* Add some padding to create space */
    flex-grow: 1;
}

.toggleButton{
    margin-left: 32px;    
}

.headingContainer .linkButtons{
    display:flex;
    flex-grow: 12;
}

.headingContainer .linkButtons .Menu{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: left;
}


