.introContainer {
    text-align: center;
    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px; /* Adjust as needed */
    margin-top: 50px;

    .hello{
        padding-right: 20px;
    }

}

.waving-emoji {
  display: inline-block;
  animation: wave 0.75s infinite linear;
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
}

